<section class="hero d-flex align-items-center text-center">
    <div class="container">
        <h1 data-aos="fade-up">Welcome DICA</h1>
        <p data-aos="fade-up" data-aos-delay="200">
            Join us this Sunday at 10AM
        </p>
    </div>
</section>

<div class="social-links">
    <img src="~/Images/instagram-logo.png" class="instagram-icon" />
    <img src="~/Images/facebook-logo.png" class="facebook-icon" />
    <img src="~/Images/tiktok-logo.png" class="tiktok-icon" />
    <img src="~/Images/youtube-logo.png" class="youtube-icon" />
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4" data-aos="fade-up">
            <h3>Sunday Service</h3>
            <p>10:00 AM</p>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <h3>Bible Study</h3>
            <p>Wednesday 6:00 PM</p>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
            <h3>Prayer Meeting</h3>
            <p>Friday 6:00 PM</p>
        </div>
    </div>
</div>